examples/sample-workflow.json
{
  "name": "Sample Data Pipeline",
  "meta": {
    "instanceId": "sample-instance"
  },
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },
    {
      "id": "2",
      "name": "Fetch API Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "parameters": {
        "url": "https://api.example.com/data",
        "method": "GET",
        "authentication": "none"
      }
    },
    {
      "id": "3",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "4",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ ...item.json, processedAt: new Date().toISOString() }));",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "5",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 200],
      "parameters": {
        "operation": "upsert",
        "tableId": "processed_records"
      },
      "credentials": {
        "supabaseApi": { "id": "cred1", "name": "My Supabase" }
      }
    },
    {
      "id": "6",
      "name": "Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400],
      "parameters": {
        "jsCode": "console.log('Skipped inactive record'); return $input.all();",
        "mode": "runOnceForAllItems"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch API Data", "type": "main", "index": 0 }]]
    },
    "Fetch API Data": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [
        [{ "node": "Transform Data", "type": "main", "index": 0 }],
        [{ "node": "Log Skip", "type": "main", "index": 0 }]
      ]
    },
    "Transform Data": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    }
  }
}
